{% extends "base-presentation.html" %}

{% block search %}

{% endblock search %}
  
{% block content %}
<div class="intro" style="background-image: url('{{ ASSETS_ROOT }}/img/curved-images/cook_list3.jpg')">
  <div>
    {% include "includes/search_form.html" %}
  </div>
  <div class="table_wrapper">
    <div class="table_container blur shadow-blur">
      <table class="table ">
        <tr>
          <th class="cook_teble-head">Username</th>
          <th class="cook_teble-head">First name</th>
          <th class="cook_teble-head">Last name</th>
          <th class="cook_teble-head">Years of Experience</th>
        </tr>
        {% for cook in cook_list %}
        <tr>
          <td class="cook_teble-content"><a href="{% url 'kitchen:cook-detail' pk=cook.id %} ">{{ cook.username }} {% if user == cook %} -> (Me){% endif %}</a></td>
          <td class="cook_teble-content">{{ cook.first_name }}</td>
          <td class="cook_teble-content">{{ cook.last_name }}</td>
          <td class="cook_teble-content">{{ cook.years_of_experience }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
    <div class="control">
      <a href="{% url 'kitchen:cook-create' %}" class=" table_btn ">
        Create
      </a>
      <div>
        {% include "includes/pagination.html" %}
      </div>
    </div>
  </div>


</div>
{% endblock content %}
