{% extends "base-presentation.html" %}
{% load crispy_forms_filters %}

{% block content %}
<div class="page-header2 section-height-100 relative"
  style="background-image: url('{{ ASSETS_ROOT }}/img/curved-images/cook_create2.jpg')">
  <div class="container">
    {% include "includes/search_form.html" %}
    <div class="row">
      <h2 class="text_c_style">{{ object|yesno:"Update,Create" }} cook</h2>
      <form action="" method="post" novalidate class="text_c_style">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="mb-5">
          <input type="submit" value="Submit" class=" table_btn ">
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock content %}
