{% extends "base.html" %}


{% block content %}
  <h1>
    {{ dish.name }}
    <a href="{% url 'kitchen:dish-delete' pk=dish.id %}" class="btn btn-danger link-to-page">
      Delete
    </a>

    <a href="{% url 'kitchen:dish-update' pk=dish.id %}" class="btn btn-secondary link-to-page">
      Update
    </a>
  </h1>
  <ul>
  <h1>
    Cooks
    {% if dish in user.dishs.all %}
    <a href="{% url 'kitchen:toggle-dish-assign' pk=dish.id %}" class="btn btn-danger link-to-page">
      Delete me from this dish
      </a>
    {% else %}
      <a href="{% url 'kitchen:toggle-dish-assign' pk=dish.id %}" class="btn btn-success link-to-page">
        Assign me to this dish
      </a>
    {% endif %}
  </h1>
    
    {% if dish.cooks.all %}
      {% for cook in dish.cooks.all %}
        <li> {{ cook.username }} ( {{ cook.first_name }} {{ cook.last_name }} ) </li>
      {% endfor %}
    {% else %}
      <p>There are no cooks for this dish</p>
    {% endif %}
    <h1>
      Ingredients
    </h1>
    {% for ingredient in dish.ingredients.all %}
      <li> {{ ingredient.name }} -> {{ ingredient.amount }} ({{ ingredient.unit }})</li>
    {% endfor %}
  </ul>    
{% endblock content %}
    