{% extends "base.html" %}

{% block content %}
  <h1>
    Our Dishes List
    {% include "includes/search_form.html" %}
  </h1>
  {% if dish_list %}
    <ul>
      {% for dish in dish_list %}
        <li>
          <a href="{% url 'kitchen:dish-detail' pk=dish.id %} ">{{ dish.id }}</a>
          {{ dish.name }} ({{ dish.dish_type.name }})
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>There are no dishes in kitchen</p>
  {% endif %}
{% endblock %}

{% block create %}
<a href="{% url 'kitchen:dish-create' %}" class="btn btn-primary"> Create Dish </a>
{% endblock create %}
  